body {
  background-color: #2a2a2a;
  color: #f4f4f4;
}
.mapboxgl-ctrl-attrib-inner {
    color: black;
}
.row > div {
  border: 2px solid #3498db; /* Border color */
  /* background-color: #62d0eb; Background color */
}
/* .overflow-scroll {
  overflow-y: auto;
  max-height: 100%;
} */
/* .nested-row { */
    /* max-height: 62%; */
    /* max-height: ; */
/* } */